<div  class="pTable">
  <div class="row">
    <div class="col-md-6 col-lg-6" >
      <label>თარიღი: დან-მდე</label>
      <form class="form-inline row">
        <div class="form-group col-md-6" >
          <div class="input-group">
            <input class="form-control"  placeholder=""
                   name="dp" [(ngModel)]="filter.dateFrom" ngbDatepicker #d10="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
            <div class="input-group-append">
              <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d10.toggle()" ></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <input class="form-control"  placeholder=""
                   name="dp" [(ngModel)]="filter.dateTo" ngbDatepicker #d11="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
            <div class="input-group-append">
              <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d11.toggle()" ></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-lg-6 " >
      <button pButton type="button" label="ექსელში ექსპორტი" style="float: right; margin-top: 30px"></button>
    </div>
  </div>

  <br>
  <p-table [columns]="cols" [value]="data" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true"
           [rows]="30" [totalRecords]="totalRecords" [loading]="loading" >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" width="{{ notNull(col['width'])? col['width']: 'auto'}}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div  *ngIf="col.field === 'detail'">
            <button pButton type="button" label="დეტალურად" class="ui-button-info" (click)="details(rowData)"></button>
          </div>
          <div  *ngIf="col.field !== 'detail'">
            {{
              rowData[col.field]
            }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog *ngIf="display" header="{{title}}" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '80%', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <app-report-table [confUrl]="'/api/secured/Report/Config?reportTable='+this.detail.reportTable" [aditional]="true" [detailUrl]="detail.dataUrl+'?id='+detail['id']"></app-report-table>
  <p-footer>
    <!--button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button-->
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="დახურვა" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
