<p-dialog header="მიმაგრებული ფაილები" [(visible)]="display" [style]="{width: '500px',height: '200px', verticalAlign: 'center' }" [modal]="true" [responsive]="true" >
  <p-table [value]="files" >
    <ng-template pTemplate="header">
      <tr>
        <th width="60">№</th>
        <th>დასახელება</th>
        <th width="50"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.filename}}</td>
        <td ><i class="pi pi-cloud-download" (click)="download(data)" style="font-size: 30px; float: right"></i></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
