/deep/ {
  div[role="dialog"] {
    .ui-dialog-title,
    .ui-dialog-titlebar {
      font-family: 'lbet-mt',sans-serif !important;
    }
    p {
      font-family: 'lbet-st',sans-serif !important;
    }
    ul[role="tablist"] li a {font-family: 'lbet-mt',sans-serif !important;}
  }

  .doc-b-attech-box {
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;

    li {
      width: 20%;
      min-width: 230px;
      position: relative;
      height: 40px;
      border-radius: 25px;
      border: 1px solid #ccc;
      padding: 0 20px;
      margin: 8px 5px;
      display: inline-block;
      p{
        line-height: 36px;
        span {
          color: #888585;
          margin-left: 5px;
        }
      }
      i {
        position: absolute;
        right: 12px;
        top: calc(50% - 12px);
        font-size: 25px;
        color: #616161;

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  .doc-b-footer {
    width: 100%;
    margin-top: 30px;

    .pi-paperclip {
      display: inline-block;
    }
  }

  .actionButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    .buttonBox {
      &.tf {
        font-family: 'lbet-mt',sans-serif !important;
      }
      &:nth-child(1){display: flex; justify-content: flex-start;}
      &:nth-child(2){display: flex; justify-content: center;}
      &:nth-child(3){
        app-language {
          span{
            position: relative !important;
          }
        }
        display: flex; justify-content: flex-end;
      }
      button {height: 28.28px}
      .cart {
        display: flex;
        line-height: 28px;
        fa-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
