<p-dialog header="ახალი შეტყობინება"   [(visible)]="newMessageBox" [modal]="true" [responsive]="true" [style]="{width: '1000px', minWidth: '200px'}" [minY]="500" [maximizable]="true" [draggable]="true" [baseZIndex]="10000" (onHide)="close()">
  <div class="invred_box" style="min-height: 400px">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <p>დეპარტამენტის უფროსი ან მოადგილე</p>
        <p-autoComplete  field="fullname" [size]="30" placeholder="" [minLength]="1" [dropdown]="true" [suggestions]="users" (completeMethod)="filterUsers($event)"  (onSelect)="selectUser($event)" ></p-autoComplete>
      </div>

      <div class="ui-g-12 ui-md-12">
        <p>მიუთითეთ ინვენტარი</p>
        <p-table [value]="selectedItems" [scrollable]="true" scrollHeight="120px">
          <ng-template pTemplate="header" >
            <tr>
              <th>დასახელება</th>
              <!--th>მარკა</th>
              <th>მოდელი</th-->
              <th>რაოდენობა</th>
              <th>კომენტარი</th>
              <th style="position: relative">
                <p-button icon="pi pi-plus" (click)="add()" style="position: absolute;top: 1px;right: 1px; display: none;"></p-button>
              </th>
            </tr>
          </ng-template>
          <div class="pre-scrollable">
            <ng-template pTemplate="body" let-item  let-index="rowIndex">
              <tr>
                <td>{{item['name']}}</td>
                <!--td>{{item['maker']}}</td>
                <td>{{item['model']}}</td-->
                <td><input type="text" [(ngModel)]="item['counter']" style="width: 100%"/></td>
                <td><input type="text" [(ngModel)]="item['note']" style="width: 100%"/></td>
                <td > <i class="pi pi-times"  style="float:right" (click)="deleteItem(index)"></i></td>
              </tr>
            </ng-template>
          </div>
        </p-table>
      </div>
      <div class="ui-g-12 ui-md-12">
        <p>შეტყობინება:</p>
        <textarea [rows]="1" [cols]="30" pInputTextarea [(ngModel)]="message.note" ></textarea>
      </div>
    </div>
  </div>
  <p-footer style="width: 100%">
    <div class="actionButton">
      <div class="buttonBox">
        <button pButton type="button" icon="pi pi-file" label="დოკუმენტები ({{ uploadFiles.length}})" (click)="filesDialog=true"> </button>
      </div>
      <div class="buttonBox">
        <button type="button" pButton icon="pi pi-close" label="გაგზავნა" class="ui-button-secondary" (click)="send()"></button>
        <button type="button" pButton icon="pi pi-close" (click)="close()" label="გაუქმება" class="ui-button-secondary"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<app-document-item-group *ngIf="itemGroupDialog" [dialog]="itemGroupDialog" (onSelected)="onSelectedItemCatalog($event)" (onClose)="closeGroupDialog()"></app-document-item-group>


<p-dialog header="დოკუმენტების მიმაგრება" *ngIf="filesDialog" [(visible)]="filesDialog" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="500" [maximizable]="true" [draggable]="true" [baseZIndex]="10000">
  <div style="width: 100%;min-height: 250px;">
    <app-file-uploader  [files]="uploadFiles"></app-file-uploader>
  </div>
</p-dialog>
