/deep/ app-incame-operation {
  .ui-tabmenu-nav li a {
    font-family: 'lbet-mt',sans-serif !important;
  }
  table thead th {
    font-family: 'lbet-nus',sans-serif !important;
  }
  .gray{
    background-color: rgba(255, 0, 0, 0.04) !important;
  }
  .pTable{
    p-table{
      .ui-table-wrapper {
        height: calc(100vh - 150px) !important;
        overflow: auto !important;
        background-color: #f4f4f4;
      }
    }
  }

}
