 /deep/ app-property{
   ag-grid-angular {
     .ag-header {
       overflow: visible !important;
       .ag-header-viewport {
         overflow: visible !important;
         .ag-header-row {
           overflow: visible !important;
           .ag-header-cell {
             overflow: visible !important;
             .ag-input-text-wrapper {
               overflow: visible !important;
               div[ref="eDateWrapper"] {
                 overflow: visible !important;
                 .form-group {
                   margin-bottom: 0;
                   input {
                     height: 20px;
                     width: 78px;
                     border-radius: 0;
                     padding: 0;
                     font-size: 12px;
                     padding-left: 3px;
                   }
                   .input-group-append {
                     button {
                       height: 20px;
                       width: 20px;
                     }
                   }

                 }
               }
             }
           }
         }
       }
     }
   }
   .actionButton {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
     align-items: center;
     .buttonBox {
       &:nth-child(1){display: flex; justify-content: flex-start;}
       &:nth-child(2){display: flex; justify-content: center;}
       &:nth-child(3){display: flex; justify-content: flex-end;}
       button {height: 28.28px}
       .cart {
         display: flex;
         line-height: 28px;
         fa-icon {
           margin-right: 5px;
         }
       }
     }
   }

   svg[data-icon="cart-plus"] {font-size: 1.7em;color: #007ad9;}


    p-table {
      table{
       // table-layout: auto !important;
      }
    }
   div[col-id='cartId']{
     outline: 0 !important;
   }
   .loading-text {
     display: block;
     background-color: #f1f1f1;
     min-height: 19px;
     animation: pulse 1s infinite ease-in-out;
     text-indent: -99999px;
     overflow: hidden;
   }

   ag-grid-angular div[role="row"] div:nth-child(2) {
     cursor: pointer;
   }

   button, p-tabmenu ul li a {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font-family: 'lbet-mt',sans-serif !important;
     font-size: 13px !important;
   }

   p-tabmenu ul li a {
     padding: 0.27em 1em !important;
   }

   div[role="dialog"] {
     .ui-dialog-title {
       font-family: 'lbet-mt',sans-serif !important;
     }
     p {
       font-family: 'lbet-st',sans-serif !important;
     }
     ul[role="tablist"] li a {font-family: 'lbet-mt',sans-serif !important;}
   }


   input{
     &.red{
       border:1px solid red;
     }
   }
   .red{
     input{
       border:1px solid red;
     }
     .ui-dropdown{
       border:1px solid red;
     }
   }

   .ag-red{
     background: rgba(255, 0, 0, 0.4196078431372549) !important;
   }
   .ag-gray{
     background: rgba(255, 167, 0, 0.419608) !important;
   }
   .cursor{
     cursor: pointer;
   }
}



