 /deep/ app-property{
    p-table {
      table{
       // table-layout: auto !important;
      }
    }
   div[col-id='cartId']{
     outline: 0 !important;
   }
   .loading-text {
     display: block;
     background-color: #f1f1f1;
     min-height: 19px;
     animation: pulse 1s infinite ease-in-out;
     text-indent: -99999px;
     overflow: hidden;
   }

   ag-grid-angular div[role="row"] div:nth-child(2) {
     cursor: pointer;
   }

   button, p-tabmenu ul li a {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font-family: 'lbet-mt',sans-serif !important;
     font-size: 13px !important;
   }

   div[role="dialog"] {
     .ui-dialog-title {
       font-family: 'lbet-mt',sans-serif !important;
     }
     p {
       font-family: 'lbet-st',sans-serif !important;
     }
     ul[role="tablist"] li a {font-family: 'lbet-mt',sans-serif !important;}
   }


   input{
     &.red{
       border:1px solid red;
     }
   }
   .red{
     input{
       border:1px solid red;
     }
     .ui-dropdown{
       border:1px solid red;
     }
   }

   .ag-red{
     background: rgba(255, 0, 0, 0.4196078431372549) !important;
   }
   .ag-gray{
     background: rgba(255, 167, 0, 0.419608) !important;
   }
   .cursor{
     cursor: pointer;
   }
}



