 /deep/ app-property{
    p-table {
      table{
       // table-layout: auto !important;
      }
    }
   .loading-text {
     display: block;
     background-color: #f1f1f1;
     min-height: 19px;
     animation: pulse 1s infinite ease-in-out;
     text-indent: -99999px;
     overflow: hidden;
   }

   button {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font-family: 'lbet-mt',sans-serif;
   }

   input{
     &.red{
       border:1px solid red;
     }
   }
   .red{
     input{
       border:1px solid red;
     }
     .ui-dropdown{
       border:1px solid red;
     }
   }
}



