/deep/ app-test {
#personalHeightDialog{
  .ui-dialog-content{
    height: calc(100vh * 0.8);
    .ui-dialog-content{
      height: auto;
    }
  }
}

#employeeDialog{
  .ui-table{
    height: calc(100vh - 138px);
    .ui-table-wrapper {
      height: calc(100% - 80px) !important;
      overflow-y: scroll;
    }
  }
.ui-dialog-content{
  height: calc(100vh * 0.8);
  .ui-dialog-content{
    height: auto;
  }
}
}

.p-col {
    height: calc(100vh - 100px) !important;
  }
  .pTable{
    height: calc(100vh - 138px);
    .ui-table{
      height: calc(100vh - 138px);
      .ui-table-wrapper {
        height: calc(100% - 108px) !important;
      }
    }
  }
}


