<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-tabMenu [model]="mainTabs"   [activeItem]="activeItem" ></p-tabMenu>
<br>
<p-tabView *ngIf="activeItem['type']==='structura'" (onChange)="handleChange($event)">

  <!--<div class="action-button" *ngIf="activeSubItem['id']==='employees'">
    <button pButton type="button"   class="ui-button-success" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="employee({ action: 'new',type:'sub'})"></button>
    <button pButton type="button"   class="ui-button-info" icon="pi pi-pencil" pTooltip="რედაქტირება" tooltipPosition="top" (click)="employee({action: 'edit', type:'sub'})"></button>
    <button pButton type="button"   class="ui-button-danger" icon="pi pi-trash" pTooltip="წაშლა" tooltipPosition="top" (click)="deleteEmployee()"></button>
  </div>-->
  <p-tabPanel [header]="item.label" *ngFor="let item of subTabs; let i = index" [selected]="i == 0"  >
     <div *ngIf="item.id === 'structUnit1'">
        <app-test></app-test>
     </div>
    <div *ngIf="item.id === 'structUnit2'">
      <app-test1></app-test1>
    </div>
    <div *ngIf="item.id === 'structUnit3'">
      <div class="p-grid">
        <div class="p-col-4">
          <app-table-tree
            (selected)="onStructuralTreeTableSelect($event)"
            [actions]="{
                get: '/api/secured/Organizational/Structure/Tree/Select'
            }"
            [cols]="[
            { field: 'name', header: 'დასახელება' }
            ]"
          >
          </app-table-tree>
        </div>
        <div class="p-col">

          <app-multiple-table
            [disableClass]="true"
            [checkEditionStatus]="true"
            [changer]="selectedStructuralUnitTree"
            [title]="selectedStructuralUnitTree['name']"
            header="თანამდებობა"
            [filter]="false"
            [cols]="[
     { field: 'id', header: 'ID' },
     { field: 'name', header: 'დასახელება' }
    ]"
            [actions]="{
        get: '/api/secured/Organizational/Structure/StaffPosition/Position/Select?parentId='+this.selectedStructuralUnitTree['id'],
        delete: '/api/secured/Organizational/Structure/StaffPosition/Position/Delete',
        update: '/api/secured/Organizational/Structure/StaffPosition/Position/Update',
        insert: '/api/secured/Organizational/Structure/StaffPosition/Position/Insert?parentId='+this.selectedStructuralUnitTree['id']
    }"
          >
          </app-multiple-table>

        </div>

      </div>
    </div>
    <div class="p-grid" *ngIf="item.id === 'employees'">
      < <div class="p-col-4">
      <app-table-tree
        (selected)="onStructuralTreeTableSelect($event)"
        [actions]="{
                get: '/api/secured/Organizational/Structure/Tree/Select'
            }"
        [cols]="[
            { field: 'name', header: 'დასახელება' }
            ]"
      >
      </app-table-tree>
    </div>
      <div class="col">
        <app-employees
          [disableClass]="true"
          [checkEditionStatus]="true"
          [selectedEmployeeNode]="selectedEmp.selected"
          [changer]="selectedEmp.selected"
          [title]="selectedEmp.selected['name']"
          header="თანამშრომლები"
          [filter]="false"
          (onSelected)="selected($event,3)"
          [cols]="[
     { field: 'id', header: 'ID'},
     { field: 'department.name', header: 'საშტატო ერთეული' , width: 200 },
     { field: 'location.name', header: 'მდებარეობა' },
     { field: 'position.name', header: 'თანამდებობა' },
     { field: 'firstname', header: 'სახელი' },
     { field: 'lastname', header: 'გვარი' },
     { field: 'mobile', header: 'მობილური' },
     { field: 'pid', header: 'პირადობა' },
     { field: 'email', header: 'ელფოსტა' }
    ]"
          [actions]="{
        get: '/api/secured/Staff/Department/Select?dep='+this.selectedEmp.selected['id'],
        delete: '/api/secured/Organizational/Structure/StaffPosition/Position/Delete',
        update: '/api/secured/Organizational/Structure/StaffPosition/Position/Update',
        insert: '/api/secured/Organizational/Structure/StaffPosition/Position/Insert?parentId='+this.selectedEmp.selected['id']
    }"
        >
        </app-employees>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
<div *ngIf="activeItem['type']==='table'">
  <div class="action-button" style="    margin-bottom: 10px;">
    <button pButton type="button"  class="ui-button-success" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="item({ action: 'new', type:'main'})"></button>
    <button pButton type="button"  class="ui-button-info" icon="pi pi-pencil" pTooltip="რედაქტირება" tooltipPosition="top" (click)="item({action: 'edit', type:'main'})"></button>
    <button pButton type="button"  class="ui-button-danger" icon="pi pi-trash" pTooltip="წაშლა" tooltipPosition="top" (click)="deleteItem()"></button>
  </div>
  <p-table [value]="data" (onRowSelect)="onRowSelect($event)" selectionMode="single">
    <ng-template pTemplate="header" >
      <tr>
        <th width="100">id</th>
        <th>დასახელება</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-d>
      <tr [pSelectableRow]="d"  >
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="row" *ngIf="activeItem['type']==='group'">
  <div class="col-md-12">
    <div class="action-button" style="    margin-bottom: 10px;">
      <button pButton type="button" class="ui-button-success" icon="pi pi-plus" label="დამატება" pTooltip="დამატება" tooltipPosition="top" (click)="itemGroup({ action: 'new', type: 'ItemGroup',data: selectedGroup.data})"></button>
      <button pButton type="button"  class="ui-button-info" icon="pi pi-pencil" label="რედაქტირება" pTooltip="რედაქტირება" tooltipPosition="top" (click)="itemGroup({action: 'edit', type: 'ItemGroup',data: selectedGroup.data})"></button>
      <button pButton type="button"  class="ui-button-danger" icon="pi pi-trash" label="წაშლა" pTooltip="წაშლა" tooltipPosition="top" (click)="itemGroup({action: 'delete', type: 'ItemGroup',data: selectedGroup.data})"></button>
    </div>
    <p-treeTable [value]="groups" selectionMode="single"  (onNodeSelect)="onSelectGroup($event)" >
      <ng-template pTemplate="header">
        <tr>
          <th>დასახელება</th>
          <th>სახარჯი</th>
          <th>არჩევითი</th>
          <th>ავტომობილები და სპეც. ტექნიკა</th>
          <th>მკაცრი აღრიცხვის დოკუმენტი</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-rowNode let-rowData="rowData" >
        <tr [ttRow]="rowNode"  [ttSelectableRow]="rowNode" >
          <td>
            <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
            {{ rowData['name'] }}
          </td>
          <td>
            <p-checkbox disabled [(ngModel)]="rowData['spend']" binary="true"></p-checkbox>
          </td>
          <td>
            <p-checkbox disabled [(ngModel)]="rowData['selectable']" binary="true"></p-checkbox>
          </td>
          <td>
            <p-checkbox disabled [(ngModel)]="rowData['isCar']" binary="true"></p-checkbox>
          </td>
          <td>
            <p-checkbox disabled [(ngModel)]="rowData['isStrict']" binary="true"></p-checkbox>
          </td>
          <!--td>
            <div class="action-button" style="    margin-bottom: 10px;">
              <button pButton type="button" class="ui-button-success" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="itemGroup({ action: 'new', type: 'ItemGroup',data: rowData['node']})"></button>
              <button pButton type="button"  class="ui-button-info" icon="pi pi-pencil" pTooltip="რედაქტირება" tooltipPosition="top" (click)="itemGroup({action: 'edit', type: 'ItemGroup',data: rowData['node']})"></button>
              <button pButton type="button"  class="ui-button-danger" icon="pi pi-trash" pTooltip="წაშლა" tooltipPosition="top" (click)="itemGroup({action: 'delete', type: 'ItemGroup',data: rowData['node']})"></button>
            </div>
          </td-->
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<div class="row" *ngIf="activeItem['type']==='unit'">
  <div class="col-md-12">
    <!--div class="action-button" style="    margin-bottom: 10px;">
    <button pButton type="button" label="დამატება"  class="ui-button-success" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="itemGroup({ action: 'new', type: 'MeasureUnit',data: null})"></button>
    </div-->
    <div class="action-button" style="    margin-bottom: 10px;">
      <button pButton type="button" class="ui-button-success" icon="pi pi-plus" label="დამატება" (click)="itemGroup({ action: 'new', type: 'MeasureUnit',data: selectedGroup.data})"></button>
      <button pButton type="button"  class="ui-button-info" icon="pi pi-pencil" label="რედაქტირება" (click)="itemGroup({action: 'edit', type: 'MeasureUnit',data: selectedGroup.data})"></button>
      <button pButton type="button"  class="ui-button-danger" icon="pi pi-trash" label="წაშლა" (click)="itemGroup({action: 'delete', type: 'MeasureUnit',data: selectedGroup.data})"></button>
    </div>
    <p-treeTable [value]="units"  selectionMode="single"  (onNodeSelect)="onSelectGroup($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>დასახელება</th>
          <th>მშობელი ერთეული</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" >
        <tr  [ttRow]="rowNode"  [ttSelectableRow]="rowNode"  >
          <td>
            <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
            {{rowData['name'] }}
          </td>
          <td>
            {{ rowData['parent_name'] }}</td>
          <!--td>
            <div class="action-button" style="    margin-bottom: 10px;">
              <button pButton type="button" class="ui-button-success" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="itemGroup({ action: 'new', type: 'MeasureUnit',data: rowData['node']})"></button>
              <button pButton type="button"  class="ui-button-info" icon="pi pi-pencil" pTooltip="რედაქტირება" tooltipPosition="top" (click)="itemGroup({action: 'edit', type: 'MeasureUnit',data: rowData['node']})"></button>
              <button pButton type="button"  class="ui-button-danger" icon="pi pi-trash" pTooltip="წაშლა" tooltipPosition="top" (click)="itemGroup({action: 'delete', type: 'MeasureUnit',data: rowData['node']})"></button>
            </div>
          </td-->
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<p-dialog *ngIf="newItem.dialog" header="დასახელება" [(visible)]="newItem.dialog" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <div>
    <label for="id">დასახელება</label>
    <input type="text" id="id" pInputText [(ngModel)]="newItem.value" style="width: 100%;"/>

  </div>
  <div *ngIf="newItem.type ==='MeasureUnit'  && newItem.data !== undefined && newItem.data['parent_name'] !=='' && (newItem.data['measureValue']>0 || newItem.action === 'new' ) " >
    <label for="id1">ერთეული</label>
    <input type="number" id="id1" pInputText [(ngModel)]="newItem.measure_value" style="width: 100%;"/>
  </div>
    <div class="row" style="margin-right:0px;" *ngIf="newItem.type==='ItemGroup'">
      <div class="col-md-12">
        <p-checkbox  label="არჩევითი" value="elective" [(ngModel)]="newItem.elective" ></p-checkbox>
      </div>
      <div class="col-md-12">
        <p-checkbox  label="სახარჯი" value="consumption" [(ngModel)]="newItem.consumption" ></p-checkbox>
      </div>
      <div class="col-md-12">
        <p-checkbox  label="ავტომობილები და სპეც. ტექნიკა" value="isCar" [(ngModel)]="newItem.isCar" ></p-checkbox>
      </div>
      <div class="col-md-12">
        <p-checkbox  label="მკაცრი აღრიცხვის დოკუმენტი" value="isStrict" [(ngModel)]="newItem.isStrict" ></p-checkbox>
      </div>
    </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveItem()" label="შენახვა"></button>
    <button type="button" pButton icon="pi pi-close" (click)="newItem.dialog=false" label="გაუქმება" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<p-dialog *ngIf="newItem.structuralUnitDialog" header="დასახელება" [(visible)]="newItem.structuralUnitDialog" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="400"
          [maximizable]="true" [baseZIndex]="10000">
  <div style="width: 100%; height: 300px;">
    <p >ქალაქი</p>
    <table style="width: 100%">
      <tr>
        <td width="90%">
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'selectedCity')?'1px solid red': '' }" class="autocomplete" [(ngModel)]="newStructuralUnit.selectedCity"  [suggestions]="filteredCities" (completeMethod)="filterSuggestions($event,'cities')" field="name" [size]="30"
                          placeholder="ქალაქი" [minLength]="1" [dropdown]="true" ></p-autoComplete>
        </td>
        <td>
          <button pButton type="button"  class="ui-button-info" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="addNewItem(1,newStructuralUnit.selectedCity)"></button>
        </td>
      </tr>

    </table>

    <p>შენობა</p>
    <table style="width: 100%">
      <tr>
        <td width="90%">
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'selectedBuilding')?'1px solid red': '' }" class="autocomplete" [(ngModel)]="newStructuralUnit.selectedBuilding" [suggestions]="filteredCities" (completeMethod)="filterSuggestions($event,'building')" field="name" [size]="30"
                          placeholder="შენობა" [minLength]="1" [dropdown]="true"></p-autoComplete>
        </td>
        <td>
          <button pButton type="button"  class="ui-button-info" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="addNewItem(2,newStructuralUnit.selectedBuilding)"></button>
        </td>
      </tr>
    </table>

    <p>დეპარტამენტი</p>
    <table style="width: 100%">
      <tr>
        <td width="90%">
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'selectedDepartment')?'1px solid red': '' }" class="autocomplete" [(ngModel)]="newStructuralUnit.selectedDepartment" [suggestions]="filteredCities" (completeMethod)="filterSuggestions($event,'department')" field="name" [size]="30"
                          placeholder="დეპარტამენტი" [minLength]="1" [dropdown]="true"></p-autoComplete>
        </td>
        <td>
          <button pButton type="button"  class="ui-button-info" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="addNewItem(3,newStructuralUnit.selectedDepartment)"></button>
        </td>
      </tr>
    </table>


    <p>სამმართველო</p>
    <table style="width: 100%">
      <tr>
        <td width="90%">
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'selectedDivision')?'1px solid red': '' }" class="autocomplete" [(ngModel)]="newStructuralUnit.selectedDivision" [suggestions]="filteredCities" (completeMethod)="filterSuggestions($event,'division')" field="name" [size]="30"
                          placeholder="სამმართველო" [minLength]="1" [dropdown]="true"></p-autoComplete>
        </td>
        <td>
          <button pButton type="button"  class="ui-button-info" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="addNewItem(4,newStructuralUnit.selectedDivision)"></button>
        </td>
      </tr>
    </table>

    <p>სექცია</p>
    <table style="width: 100%">
      <tr>
        <td width="90%">
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'selectedSection')?'1px solid red': '' }" class="autocomplete" [(ngModel)]="newStructuralUnit.selectedSection" [suggestions]="filteredCities" (completeMethod)="filterSuggestions($event,'section')" field="name" [size]="30"
                          placeholder="სექცია" [minLength]="1" [dropdown]="true"></p-autoComplete>
        </td>
        <td>
          <button pButton type="button"  class="ui-button-info" icon="pi pi-plus" pTooltip="დამატება" tooltipPosition="top" (click)="addNewItem(5,newStructuralUnit.selectedSection)"></button>
        </td>
      </tr>
    </table>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveStructuralUnit()" label="შენახვა"></button>
    <button type="button" pButton icon="pi pi-close" (click)="newItem.structuralUnitDialog=false" label="გაუქმება" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<p-dialog *ngIf="structuralUnit.dialog" header="დასახელება" [(visible)]="structuralUnit.dialog" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <div>
    <label for="id">დასახელება</label>
    <input type="text"  pInputText [(ngModel)]="structuralUnit.value" style="width: 100%;"/>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveStructuralUnitItem()" label="შენახვა"></button>
    <button type="button" pButton icon="pi pi-close" (click)="newItem.dialog=false" label="გაუქმება" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog *ngIf="newEmployee.dialog" header="თანამშრომელი" [(visible)]="newEmployee.dialog" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <div class="row">
    <div class="col-md-{{newEmployee['role']['role'] ==='ROLE_PLACE'?6 :12}}">
      <div class="row">
        <div class="col-md-12">
          <input type="text" disabled placeholder="განყოფილება" pInputText [(ngModel)]="selectedEmployeeNode['text']" style="width: 100%;"/>
        </div>
      </div>
      <div class="row"  style="margin-top: 5px">
        <div class="col-md-12">
          <p-dropdown [options]="roles" [(ngModel)]="newEmployee.role" placeholder="როლი" optionLabel="name" [showClear]="true" (ngModelChange)="getCities()"></p-dropdown>
        </div>
      </div>
      <div class="row"  style="margin-top: 5px">
        <div class="col-md-12">
          <p-dropdown [options]="positions" [(ngModel)]="newEmployee.position" placeholder="პოზიცია" optionLabel="name" [showClear]="true" ></p-dropdown>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12" [ngClass]="{ 'red':if_error(formErrors,'fname')?'1px solid red': '' }" >
          <input type="text" placeholder="სახელი" pInputText [(ngModel)]="newEmployee.fname" style="width: 100%;"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
          <input type="text" placeholder="გვარი"  pInputText [(ngModel)]="newEmployee.lname" style="width: 100%;"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
          <input type="text" placeholder="ელ.ფოსტა"  pInputText [(ngModel)]="newEmployee.email" style="width: 100%;"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
          <input type="text" placeholder="მობილური"  pInputText [(ngModel)]="newEmployee.mobile" style="width: 100%;"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
          <input type="text" placeholder="პირადობა"  pInputText [(ngModel)]="newEmployee.pin" style="width: 100%;"/>
        </div>
      </div>
    </div>
    <div class="col-md-{{newEmployee['role']['role'] ==='ROLE_PLACE'?6:12}}" *ngIf="newEmployee['role']['role'] ==='ROLE_PLACE'">
      <div class="row"  >
        <div class="col-md-12">
          <p-dropdown [options]="employeeCities" [(ngModel)]="newEmployee.city" placeholder="ქალაქი" optionLabel="name" [showClear]="true" (ngModelChange)="getBuildings()"></p-dropdown>
        </div>
      </div>
      <div class="row"  style="margin-top: 5px">
        <div class="col-md-12">
          <p-dropdown [options]="employeeBuildings" [(ngModel)]="newEmployee.building" placeholder="შენობა" optionLabel="name" [showClear]="true" ></p-dropdown>
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
          <div class="col-md-12">
            <button pButton type="button" label="დამატება" (click)="addCityByRole()"></button>
          </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
            <table style="width: 100%">

              <tr *ngFor="let l of newEmployee.list; let i = $index">
                <td>{{l['city']['name']}}</td>
                <td>{{l['building']['name']}}</td>
                <td ><i class="pi pi-times" style="margin-top: 5px" (click)="newEmployee.list.splice(i,1)"></i></td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveNewEmployee()" label="შენახვა"></button>
    <button type="button" pButton icon="pi pi-close" (click)="newEmployee.dialog=false" label="გაუქმება" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

