/deep/ app-directory{


  p-table{
    input{
      width: 100%;
    }

  }

  .colegs p-table th,  .colegs p-table tr td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
  }

.container-fluid {
    padding: 0 10px !important;
  }

  p-tabView {
    .ui-tabview {position: relative;}
    .ui-tabview-panels{
      height: calc(100vh - 200px) !important;
    }

    .action-button {
      position: absolute;
      right: 4px;
      top: 8px;
    }

    ul[role="tablist"] li .ui-tabview-title {
      font-family: 'lbet-mt',
      sans-serif !important;
      font-weight: normal;
      font-size: 12px;
    }
  }

  button, p-tabmenu ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'lbet-mt',sans-serif !important;
    font-size: 12px !important;
  }

  .action-button{
    button{
      margin-left: 10px;
    }
  }

  div[role="dialog"] {
    .ui-dialog-title {
      font-family: 'lbet-mt',sans-serif !important;
    }
    p {
      font-family: 'lbet-st',sans-serif !important;
    }
    ul[role="tablist"] li a {font-family: 'lbet-mt',sans-serif !important;}
  }

  table thead th {
    font-family: 'lbet-nus',sans-serif !important;
  }
  .ui-dialog-content{
    overflow: hidden !important;
  }
  .autocomplete {
    span{
      width: 100%;
    }
    input{
      width: 90%;
    }
  }
  p-dialog .ui-dialog[role="dialog"], p-dialog .ui-dialog-content {
    overflow: visible !important;
  }
  .red{
    input{
      border:1px solid red;
    }
    .ui-dropdown{
      border:1px solid red;
    }
  }
  .ui-dropdown{
    width: 100%;
  }
}

