<button  pButton icon="pi pi-plus"  label="ახალი მოთხოვნა" class="ui-button-raised" (click)="newMessage()"></button> &nbsp;
<!--div class="ui-g ui-fluid">
  <div class="ui-g-12 col-md-12">
      <div class="ui-inputgroup">
          <button pButton type="button" label="ძიება"></button>
          <input type="text" pInputText placeholder="საძიებო სიტყვა" style="width: 100%">
      </div>
  </div>
</div-->
<div class="content-box row">
  <div class="col-md-12">
    <app-table [uri]="'/api/secured/ItemRequest/Level1/Select'" [cols]="cols" [update]="update"></app-table>
  </div>
</div>

<app-document-turn-over-dialog *ngIf="newMessageBox" [newMessageBox]="newMessageBox" (onClose)="onClose($event)" [users]="users" (onFilterName)="onFilterName($event)"></app-document-turn-over-dialog>



