<p-confirmDialog [style]="{width: '500px'}"></p-confirmDialog>
<div  [ngClass]="{'pTable':!disableClass, 'dialog':disableClass }">
  <p-table

    [columns]="cols"
    [value]="data"
    [lazy]="true"
    (onLazyLoad)="loadLazy($event)"
    [paginator]="true"
    [rows]="30"
    [totalRecords]="totalRecords"
    [loading]="loading"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onUnselect($event)"
    [metaKeySelection]="false"
    dataKey="id"
    [(selection)]="selectedRows"
  >
    <ng-template pTemplate="header" let-columns>
      <tr style="visibility: collapse;">
        <th style="width: 50px;"></th>
        <th></th>
      </tr>
      <tr >
        <th  [colSpan]="columns.length">
          <span [innerHTML]="header"></span>
          <div  *ngIf="enableActions" style="text-align: right; border-left: 0px; float: right">
            <i class="pi pi-users" *ngIf="this.additionButton" style="font-size: 20px;margin-left:  10px; cursor: pointer" (click)="additionEmployee()"  pTooltip="თანამშრომლის დამატება" tooltipPosition="top" ></i>
            <i class="pi pi-table" *ngIf="this.additionButton" style="font-size: 20px;margin-left:  10px; cursor: pointer" (click)="addition()"  pTooltip="{{header}}ს დამატება" tooltipPosition="top" ></i>
            <i class="pi pi-plus" style="font-size: 20px;margin-left:  10px; cursor: pointer" (click)="newItem()"  pTooltip="{{header}}ს დამატება" tooltipPosition="top" ></i>
            <i class="pi pi-pencil" style="font-size: 20px;margin-left: 10px; cursor: pointer" (click)="edit()" pTooltip="{{header}}ს რედაქტირება" tooltipPosition="top" ></i>
            <i class="pi pi-times" style="font-size: 20px; color:red;margin-left: 10px; cursor: pointer" (click)="onDelete()" pTooltip="{{header}}ს წაშლა" tooltipPosition="top" ></i>
          </div>
        </th>

      </tr>
      <tr >
        <th [innerHTML]="title" style="border-right: 0px" [colSpan]="columns.length"></th>
      </tr>
      <tr >
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
      <tr *ngIf="filter">
        <th [colSpan]="columns.length">
        <span class="ui-float-label" style="width: 100%">
            <input [placeholder]="filterTitle" type="text" size="30" pInputText [(ngModel)]="filterValue" style="width: 100%" (ngModelChange)="changeValue()">
        </span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr  [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog *ngIf="newItemDialog" header="{{header}}ს {{this.dialogType}}" [(visible)]="newItemDialog" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <div>
      <label for="id">მიუთითეთ {{header}}ს დასახელება</label>
      <input type="text" id="id"  pInputText [(ngModel)]="this.selectedRow['name']" style="width: 100%;"/>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="editItem()" label="შენახვა"></button>
      <button type="button" pButton icon="pi pi-close" (click)="newItemDialog=false" label="გაუქმება" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

</div>
<p-dialog header="{{dialogType}}" *ngIf="provider.dialog" [(visible)]="provider.dialog" [modal]="true" [responsive]="true" [style]="{width: '400px', minWidth: '250px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" >
      <p>აირჩიეთ მიმწოდებლის ტიპი</p>
      <p-dropdown [options]="[{label: 'შპს', value: '1'},{label: 'ინდმეწარმე', value: '2'},{label: 'ფიზიკური პირი', value: '3'},{label: 'სააქციო საზოგადოება', value: '4'}]" [(ngModel)]="provider.selected" editable="true" placeholder="აირჩიეთ ტიპი"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-12" >
      <p>{{  (provider.type==='2' || provider.type==='3')? 'პირადი ნომერი' : 'საიდენტიფიკაციო'}}</p>
      <input id="input2" type="text" size="30" pInputText [(ngModel)]="provider.identification">
    </div>
    <div class="ui-g-12 ui-md-12">
      <p>{{(provider.type==='2' || provider.type==='3')? 'სახელი და გვარი': 'დასახელება'}}</p>
      <input id="input3" type="text" size="30" pInputText [(ngModel)]="provider.value">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveProvider()" label="დამატება"></button>
    <button type="button" pButton icon="pi pi-close" (click)="provider.dialog=false" label="გათიშვა" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
