/deep/ app-warehouse{

  button, p-tabmenu ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'lbet-mt',sans-serif !important;
    font-size: 13px !important;
  }

  div[role="dialog"] {
    .ui-dialog-title {
      font-family: 'lbet-mt',sans-serif !important;
    }
    p {
      font-family: 'lbet-st',sans-serif !important;
    }
    ul[role="tablist"] li a {font-family: 'lbet-mt',sans-serif !important;}
  }

  p-autocomplete{
    input{
      width: 86% !important;
    }
  }
  p-spinner{
    input{
      width: 100% !important;
    }
  }
  table {
    td{
      p-autocomplete{
        input{
          width: 100% !important;
        }
      }
    }
  }
  .lastCode{
    position: absolute;
    left: 10px;
  }
  .measureUnits{
    width: 100%;
  }
  .width100{
    input{
      width: 100%;
    }
  }

  p-dropdown {
    .ui-dropdown{
      width: 100%;
    }
  }
  p-tree{
    .ui-tree{
      width: 100%;
    }
  }

  .table{
    tr{
      td {
        border:1px  solid #c8ced3;
        white-space:nowrap;
      }
    }
  }

  input{
    &.red{
      border:1px solid red;
    }
  }

  ag-grid-angular div[role="row"] div:nth-child(2) {
    cursor: pointer;
  }

  .red{
    input{
      border:1px solid red;
    }
    .ui-dropdown{
      border:1px solid red;
    }
  }
  .ag-red{
    background: rgba(255, 0, 0, 0.4196078431372549) !important;
  }
  .cursor{
    cursor: pointer;
  }
}

