
<p-confirmDialog [style]="{width: '50vw'}" modal="modal"></p-confirmDialog>
<div class="actionButton">
  <div class="buttonBox" style="width: 150px;">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
  <div class="buttonBox">
    <button style="width: 120px" pButton icon="pi pi-plus"  label="ინვ. მიღება" class="ui-button-raised" (click)="inventorDialog()"></button> &nbsp; &nbsp;
    <button style="width: 120px" pButton icon="pi pi-plus"  label="ზედ. მიღება" class="ui-button-raised" (click)="zednadebiDialog()"></button> &nbsp; &nbsp;
    <button style="width: 120px" pButton icon="pi pi-pencil" label="რედაქტირება" class="ui-button-raised" (click)="inventorEditDialog()"></button>&nbsp;&nbsp;&nbsp;
    <button style="width: 120px" pButton icon="pi pi-search" label="ძებნა" class="ui-button-raised" (click)="inventorSearch()" *ngIf="searchBox !== true"></button>
  </div>
  <div class="buttonBox">
    <button (click)="inventoryToBuildingDialog()" pButton type="button" label="ინვენტარის გაცემა" icon="pi pi-arrow-up" class="ui-button-danger"></button> &nbsp;&nbsp;
    <button (click)="showDialog()" pButton type="button" label="მოძრაობა A-B" class="ui-button-raised arrow-icon"></button>&nbsp;&nbsp;
    <span class="cart">
      <fa-icon [icon]="faCartPlus"  (click)="cartDialog()" size="2x"  ></fa-icon>
      {{this.cartItems.length}}
    </span>
  </div>
</div>
<div class="search" *ngIf="this.searchBox === true">
  <div class="row">
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>დასახელება:</label>
      <input type="text"  pInputText placeholder="" [(ngModel)]="filter.name" />

    </div>
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>მარკა:</label>
      <input type="text"  pInputText placeholder="" [(ngModel)]="filter.maker" />
    </div>
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>მოდელი:</label>
      <div>
          <input type="text"  pInputText placeholder="" [(ngModel)]="filter.model" />
      </div>
    </div>

    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>განზ. ერთეული:</label>
      <div class="ui-inputgroup" >
        <p-dropdown [ngClass]="{ 'red':if_error(formErrors,'selectedMeasureUnitName')?'1px solid red': '' }" [autoWidth]="true" class="measureUnits" [options]="measureUnits"  placeholder="ერთეული" optionLabel="name" [(ngModel)]="newInventor.selectedMeasureUnitName"  [showClear]="true" ></p-dropdown>
      </div>
    </div>
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>ჯგუფი:</label>
      <input type="text"  pInputText placeholder="" [(ngModel)]="filter.itemGroup" />

    </div>

    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>ერთეული:</label>
      <input type="text"  pInputText placeholder="" [(ngModel)]="filter.measureUnit" />
    </div>
    <!--div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>შტრიხ კოდი:</label>
      <div>
        <p-autoComplete  field="name" [size]="30" placeholder="შტრიხ კოდი" [minLength]="1"></p-autoComplete>
      </div>
    </div-->
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>ტიპი:</label>
      <div>
        <input type="text"  pInputText placeholder="" [(ngModel)]="filter.itemType" />
      </div>
    </div>

    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>ქარხნული ნომერი:</label>
      <div>
        <input type="text"  pInputText placeholder="" [(ngModel)]="filter.factoryNumber" />

      </div>
    </div>
    <div class="col-m-12 col-lg-3" style="max-width: 200px">
      <label>მწარმოებელი:</label>
          <input type="text"  pInputText placeholder="" [(ngModel)]="filter.supplier" />
    </div>

    <div class="col-m-6 col-lg-6" style="max-width: 320px">
      <label>თარიღი: დან-მდე</label>

        <form class="form-inline row">

          <div class="form-group col-md-6" >
            <div class="input-group">
              <input class="form-control"  placeholder=""
                     name="dp" [(ngModel)]="filter.dateFrom" ngbDatepicker #d10="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d10.toggle()" ></button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <input class="form-control"  placeholder=""
                     name="dp" [(ngModel)]="filter.dateTo" ngbDatepicker #d11="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d11.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="col-m-12 col-lg-6" style="max-width: 280px">
      <label>ფასი: დან-მდე</label>
      <div>
        <p-spinner size="7" placeholder="დან" style="width: 150px" [(ngModel)]="filter.priceFrom"></p-spinner>
        <p-spinner size="7" placeholder="მდე" [(ngModel)]="filter.priceTo"></p-spinner>
      </div>
    </div>
    <div class="col-m-6 col-lg-6" style="width: 445px">
      <label>შტრიხკოდი: დან-მდე</label>
      <div style="display: flex">
        <div style="flex: 0.4">
          <p-dropdown [ngClass]="{ 'red':if_error(formErrors,'selectedBarcode')?'1px solid red': '' }" [autoWidth]="true" [options]="barcodes"   placeholder="RS"  optionLabel="name" [(ngModel)]="newInventor.selectedBarcode"  [showClear]="true" (ngModelChange)="getLastCode()" ></p-dropdown>
        </div>
        <input type="text"  pInputText placeholder="დან" style="width: 120px;"  [(ngModel)]="filter.barcodeFrom">
        <input type="text"  pInputText placeholder="მდე" style="width: 120px;" [(ngModel)]="filter.barcodeTo" >
      </div>
    </div>

    <div  style="min-width:350px; max-width: 100%; padding-right: 20px; padding-top: 21px; flex: 1;">
      <div style="float: right">
        <button pButton icon="pi pi-search" label="ძებნა" class="ui-button-warning" (click)="filterGrid()"></button>
        <button  pButton type="button" label="გასუფთავება" icon="pi pi-times" class="ui-button-danger" style="margin-left: 10px" (click)="filter={}"></button> &nbsp;&nbsp;
        <button pButton type="button" label="დახურვა" class="ui-button-secondary" (click)="CloseInventorSearch()" style="float: right; margin-left: 20px;"></button>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <ag-grid-angular
    #agGrid
    [ngStyle]="{width: '100%', height: 'calc(100vh - '+(searchBox? 400: 135)+'px)'}"
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [floatingFilter]="true"
    [debug]="true"
    [enableFilter]="true"
    [rowClassRules]="getRowStyle"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    [rowDeselection]="true"
    [rowModelType]="rowModelType"
    [paginationPageSize]="paginationPageSize"
    [cacheOverflowSize]="cacheOverflowSize"
    [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
    [infiniteInitialRowCount]="infiniteInitialRowCount"
    [maxBlocksInCache]="maxBlocksInCache"
    [getRowNodeId]="getRowNodeId"
    [components]="components"
    [rowData]="rowData"
    [pivotPanelShow]="true"
    (rowSelected)="selectCell($event)"
    (cellClicked)="cart($event)"
    [gridOptions]="gridOptions"
    [getContextMenuItems]="getContextMenuItems"
    (rowClicked)='onRowClicked($event)'
    (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents"
  ></ag-grid-angular>
</div>

<p-dialog header="ინვენტარის მოძრაობა სექციებს შორის" *ngIf="display" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '200px'}" [minY]="500"
          [maximizable]="true" [draggable]="true" [baseZIndex]="10000">
  <div style="width: 100%;height: 500px;" *ngIf="transferToSectionInvoiceGenerator">
    <app-generator  (onChangeAddon)="changeAddon($event)" [transferToSection]="transferToSection"  [name]="dialogName"></app-generator>
  </div>
  <div style="width: 100%;height: 500px;" *ngIf="!transferToSectionInvoiceGenerator">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-8">
        <div class="ui-g-12 ui-md-6">
          <p>თარიღი</p>
          <!--p-calendar [minDate]="minDate" dateFormat="dd-mm-yy" [(ngModel)]="transferToSection.Datetime" [showIcon]="true" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"></p-calendar-->
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" [minDate]="minDate"  placeholder="yyyy-mm-dd" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"
                       name="dp" [(ngModel)]="transferToSection.date" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                  <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d2.toggle()" ></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p>სექცია</p>
          <p-dropdown  [ngClass]="{ 'red':if_error(formErrors,'fromDetails')?'1px solid red': '' }" [options]="stockList" optionLabel="name" placeholder="აირჩიეთ სექცია" [(ngModel)]="transferToSection.fromDetails" (ngModelChange)="getTransferProperty()"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p>ქონების მართვა</p>
          <p-dropdown  [ngClass]="{ 'red':if_error(formErrors,'toWhomStockDetails')?'1px solid red': '' }" [options]="propertyData" optionLabel="fullname" placeholder="ქონების მართვა" [(ngModel)]="transferToSection.toWhomStockDetails" ></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p>ტრანსპორტ. პასხ. პირი:</p>
          <p-autoComplete [ngClass]="{ 'red':if_error(formErrors,'carrierPersonDetails')?'1px solid red': '' }"  [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="transferToSection.carrierPersonDetails"
                          [minLength]="1" placeholder=""  field="fname" [dropdown]="true">
            <ng-template let-brand pTemplate="item">
              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                <div style="font-size:12px;">{{brand['position']}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <p>კომენტარი</p>
        <textarea pInputTextarea placeholder="შენიშვნა" rows="5" [(ngModel)]="transferToSection.note"></textarea>
      </div>
      <app-cart [data]="cartItemsData" (removeCartItem)="removeCartItem()" (checker)="checker($event)"></app-cart>
    </div>
  </div>
  <p-footer>
    <button style="position: absolute; left: 230px" pButton type="button" icon="pi pi-file" label="დოკუმენტები ({{ uploadFiles.length}})" (click)="filesDialog=true"> </button>
    <app-cart-button (removeCartItem)="removeCartItem()" ></app-cart-button>
    <span style="width: 20px; margin-right: 20px" *ngIf="transferToSectionInvoiceGenerator">
      ბოლო კოდი - {{lastCode}}
    </span>
    <button type="button" pButton icon="pi pi-check"  *ngIf="!transferToSectionInvoiceGenerator"(click)="generaTeTransferToSection()" label="ზედდებულის გენერაცია"></button>
    <button type="button" pButton icon="pi pi-check"  *ngIf="transferToSectionInvoiceGenerator" (click)="activeTransferToSection()" label="ზედდებულის გააქტიურება"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="დახურვა" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header=" " *ngIf="cartDialogShow" [(visible)]="cartDialogShow" [modal]="true" [responsive]="true" [style]="{width: '850px', minWidth: '200px'}" [minY]="500" [maximizable]="true" [draggable]="true" [baseZIndex]="10000">
  <div style="width: 100%;height: 500px;">
    <app-cart-button (removeCartItem)="removeCartItem()" (checker)="checker($event)"></app-cart-button>
    <app-cart style="position: relative; top:30px;"  [data]="cartItemsData" (removeCartItem)="removeCartItem()" (checker)="checker($event)"></app-cart>
  </div>
</p-dialog>

<p-dialog header="ინვენტარის გაცემა" *ngIf="inventoryToBuildingDialogShow" [(visible)]="inventoryToBuildingDialogShow" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '200px'}" [minY]="500"
          [maximizable]="true" [draggable]="true" [baseZIndex]="10000">

          <p-header>
              <app-language (onChange)="onChange($event)" style="margin-right: 100px"></app-language>
          </p-header>
  <div style="width: 100%;height: 500px;" *ngIf="inventorTransfer.generator">
    <app-generator [transferToSection]="inventorTransfer" [name]="dialogName" ></app-generator>
  </div>
  <div style="width: 100%;height: 500px;" *ngIf="!inventorTransfer.generator">
      <p-tabView (onChange)="onTabChange($event)" >
        <p-tabPanel header="შენობა" [selected]="true" >
          <div class="ui-g ui-fluid" >
            <div class="ui-g-12 ui-md-8">
              <div class="ui-g-12 ui-md-6">
                <p>თარიღი</p>
                <!--p-calendar [minDate]="minDate" dateFormat="dd-mm-yy" [(ngModel)]="inventorTransfer.date" [showIcon]="true" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"></p-calendar-->
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" [minDate]="minDate"  placeholder="yyyy-mm-dd" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"
                             name="dp" [(ngModel)]="inventorTransfer.date" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d.toggle()" ></button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>

              <div class="ui-g-12 ui-md-6">
                    <p>ქონების მართვა</p>
                <p-autoComplete  [(ngModel)]="inventorTransfer.selectedProperty"    [suggestions]="propertyList" [ngClass]="{ 'red':if_error(formErrors,'selectedMaker')?'1px solid red': '' }" field="fname" type="marker" [size]="30"
                placeholder="" [minLength]="1" (ngModelChange)="onKeyUpProperty($event)" ></p-autoComplete>

              </div>

              <div class="ui-g-12 ui-md-6">
                <p>მომთხოვნი პიროვნება</p>
                <p-autoComplete [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedPerson"
                                [minLength]="1" placeholder=""  field="fname" [dropdown]="false"  [ngClass]="{ 'red':if_error(formErrors,'selectedPerson')?'1px solid red': '' }">
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>

              <div class="ui-g-12 ui-md-6">
                <p>ტრანსპორტ. პასხ. პირი:</p>
                <p-autoComplete [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedCarrier"
                                [minLength]="1" placeholder=""  field="fname" [dropdown]="false" [ngClass]="{ 'red':if_error(formErrors,'selectedCarrier')?'1px solid red': '' }" >
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <p>კომენტარი</p>
              <textarea pInputTextarea placeholder="შენიშვნა" rows="5" [(ngModel)]="inventorTransfer.note" [ngClass]="{ 'red':if_error(formErrors,'note')?'1px solid red': '' }"></textarea>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="პიროვნება" >
          <div class="ui-g ui-fluid" >
            <div class="ui-g-12 ui-md-8">
              <div class="ui-g-12 ui-md-6">
                <p>თარიღი</p>
                <!--p-calendar  dateFormat="dd-mm-yy" [(ngModel)]="inventorTransfer.date" [showIcon]="true" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"></p-calendar-->
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" [minDate]="minDate" placeholder="yyyy-mm-dd" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"
                             name="dp" [(ngModel)]="inventorTransfer.date" ngbDatepicker #d1="ngbDatepicker">
                      <div class="input-group-append">
                        <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d1.toggle()" ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="ui-g-12 ui-md-6">
                <p>ქონების მართვა</p>
                <p-autoComplete [suggestions]="propertyList" (completeMethod)="filterPropertyList($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedProperty"
                                [minLength]="1" placeholder=""  field="fname" [dropdown]="true" [ngClass]="{ 'red':if_error(formErrors,'selectedProperty')?'1px solid red': '' }">
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>


              <div class="ui-g-12 ui-md-6">
                <p>სექცია</p>
                <p-dropdown [disabled]="!inventorTransfer.selectedPerson" [options]="roomsList" optionLabel="name" placeholder="აირჩიეთ სექცია" [(ngModel)]="inventorTransfer.selectedSection" [ngClass]="{ 'red':if_error(formErrors,'selectedSection')?'1px solid red': '' }" ></p-dropdown>
              </div>
              <div class="ui-g-12 ui-md-6">
                <p>ტრანსპორტ. პასხ. პირი:</p>
                <p-autoComplete [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedCarrier"
                                [minLength]="1" placeholder=""  field="fname" [dropdown]="false" [ngClass]="{ 'red':if_error(formErrors,'selectedCarrier')?'1px solid red': '' }">
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
              <div class="ui-g-12 ui-md-6">
                <p>კომენტარი</p>
                <textarea pInputTextarea placeholder="შენიშვნა" rows="1" [(ngModel)]="inventorTransfer.note"></textarea>
              </div>

            </div>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <p>პიროვნება</p>
                <p-autoComplete [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedPerson"
                                (onSelect)="selectPerson($event)" [minLength]="1" placeholder=""  field="fname" [dropdown]="false" [ngClass]="{ 'red':if_error(formErrors,'selectedPerson')?'1px solid red': '' }">
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
              <div class="ui-g-12 ui-md-12">
                <p>მომთხოვნი პიროვნება</p>
                <p-autoComplete [suggestions]="staffList" (completeMethod)="filterStaff($event)" [size]="30" [(ngModel)]="inventorTransfer.selectedRequestPerson"
                                [minLength]="1" placeholder=""  field="fname" [dropdown]="false" [ngClass]="{ 'red':if_error(formErrors,'selectedRequestPerson')?'1px solid red': '' }">
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:14px;font-weight: bold">{{brand['fname']}}</div>
                      <div style="font-size:12px;">{{brand['position']}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>

            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    <app-cart [data]="cartItemsData" (checker)="checker($event)"></app-cart>
  </div>
  <p-footer>
    <button style="position: absolute; left: 230px" pButton type="button" icon="pi pi-file" label="დოკუმენტები ({{ uploadFiles.length}})" (click)="filesDialog=true"> </button>
    <app-cart-button (removeCartItem)="removeCartItem()"></app-cart-button>
    <span style="width: 20px; margin-right: 20px" *ngIf="inventorTransfer.generator">
      ბოლო კოდი - {{lastCode}}
    </span>
    <button type="button" pButton icon="pi pi-check"  *ngIf="!inventorTransfer.generator" (click)="generaTeInventorTransfer()" label="ზედდებულის გენერაცია"></button>
    <button type="button" pButton icon="pi pi-check"  *ngIf="inventorTransfer.generator"  (click)="activeInventorTransfer()" label="ზედდებულის გააქტიურება"></button>
    <button type="button" pButton icon="pi pi-close" (click)="inventoryToBuildingDialogShow=false" label="დახურვა" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="ჩანაწერის დამატება" *ngIf="newRecordDialogShow" [(visible)]="newRecordDialogShow" [modal]="true" [responsive]="true" [style]="{width: '400px', minWidth: '250px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="newItem.selected ==='supplier'">
      <p>აირჩიეთ მიმწოდებლის ტიპი</p>
      <p-dropdown [options]="[{label: 'შპს', value: '1'},{label: 'ინდმეწარმე', value: '2'},{label: 'ფიზიკური პირი', value: '3'},{label: 'სააქციო საზოგადოება', value: '4'}]" [(ngModel)]="newItem.type" editable="true" placeholder="აირჩიეთ ტიპი"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-12" *ngIf="newItem.selected ==='supplier'">
      <p>{{  (newItem.type==='2' || newItem.type==='3')? 'პირადი ნომერი' : 'საიდენტიფიკაციო'}}</p>
      <input id="input2" type="text" size="30" pInputText [(ngModel)]="newItem.identification">
    </div>
    <div class="ui-g-12 ui-md-12">
      <p>{{(newItem.type==='2' || newItem.type==='3')? 'სახელი და გვარი': 'დასახელება'}}</p>
      <input id="input3" type="text" size="30" pInputText [(ngModel)]="newItem.value">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveNewRecord()" label="დამატება"></button>
    <button type="button" pButton icon="pi pi-close" (click)="newRecordDialogShow=false" label="გათიშვა" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="საქონლის ჯგუფი" *ngIf="itemGroupDialogShow" [(visible)]="itemGroupDialogShow" [modal]="true" [style]="{width: '500px', minWidth: '200px',  top: '200px !important', position: 'absolute'}"
         [baseZIndex]="10000" id="itemGroup">
  <!--p-tree [value]="ItemGroup" selectionMode="single"
          (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" field></p-tree-->
  <p-treeTable [value]="ItemGroup" [columns]="[{field: 'name', header: 'name'}]" selectionMode="single" dataKey="name"
               (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [scrollable]="true" scrollHeight="300px">
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
        <td *ngFor="let col of columns; let i = index">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
  <div style="margin-top:8px">Selected Node: {{newInventor.itemGroupName ? newInventor.itemGroupName : 'none'}}</div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="itemGroupDialogShow=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="itemGroupDialogShow=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog  header="{{inventorOperation=='edit'? 'ინვენტარის რედაქტირება':(inventorOperation ==='multiple')? 'პაკეტური რედაქტირება':'ინვენტარის მიღება'}}" *ngIf="inventorDialogShow" [(visible)]="inventorDialogShow" [modal]="true" [responsive]="true" [style]="{width: '1200px', minWidth: '200px'}"
          [maximizable]="true" [draggable]="true" [baseZIndex]="10000">

          <p-header>
              <app-language (onChange)="onChange($event)" style="margin-right: 100px"></app-language>
          </p-header>
  <div class="row" style="text-align: center" *ngIf="addon !== undefined">
    <div class="col-md-12" style="text-align: center" *ngIf="frustrate">
      <h3>საწყობის შემოსავლის ელ. ზედდებული  № {{ addon['Left'] }} - {{ addon['Right'] }}</h3>
    </div>
  </div>
  <div  style="width: 100%;height: 500px;" *ngIf="!frustrate && (inventorOperation==='edit' || inventorOperation ==='new')">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2" >
        <p>მიღების თარიღი</p>
        <!--p-calendar [(ngModel)]="newInventor.date" dateFormat="dd-mm-yy" [showIcon]="true"  [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"></p-calendar-->

        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}" placeholder="" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"
                     name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d7="ngbDatepicker">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d7.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui-g-12 ui-md-4" *ngIf="newInventor.isCar !==1">
        <div class="ui-inputgroup">
          <table style="width: 100%; border-collapse: collapse" >
            <tr >
              <td colspan="2" style="padding: 0px;line-height: 20px;margin: 0px;" *ngIf="!newInventor.consumption">შტრიხკოდი</td>
              <td style="padding: 0px; line-height: 20px;margin: 0px;" > რაოდენობა</td>
              <!--td *ngIf="newInventor.consumption" style="padding: 0px;line-height: 20px;margin: 0px;" >ერთ. რაოდენობა</td-->
            </tr>
            <tr >
              <td *ngIf="!newInventor.consumption" width="35px">
                <p-dropdown [ngClass]="{ 'red':if_error(formErrors,'selectedBarcode')?'1px solid red': '' }" [autoWidth]="true" [options]="barcodes"   placeholder="RS"  optionLabel="name" [(ngModel)]="newInventor.selectedBarcode"  [showClear]="true" (ngModelChange)="getLastCode()" ></p-dropdown>
              </td>
              <td *ngIf="!newInventor.consumption">
                <input type="text"  pInputText placeholder="შტრიხკოდი" style="width: 100%; height: 33px;" [(ngModel)]="newInventor.barCode"  [ngClass]="{ 'red':if_error(formErrors,'barCode')?'1px solid red': '' }" >
              </td>
              <td>
                <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;"  [(ngModel)]="newInventor.amount"  [ngClass]="{ 'red':if_error(formErrors,'amount')?'1px solid red': '' }">
              </td>
              <!--td *ngIf="newInventor.consumption">
                <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;"  [(ngModel)]="newInventor.packageAmount" [ngClass]="{ 'red':if_error(formErrors,'packageAmount')?'1px solid red': '' }">
              </td-->
            </tr>
          </table>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4" *ngIf="newInventor.isCar ===1">
        <p>ვინკოდი</p>
        <input type="text" pInputText style="width:100%;height: 35px;" [(ngModel)]="newInventor.vin" [ngClass]="{ 'red':if_error(formErrors,'vin')?'1px solid red': '' }"/>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>განზომილების ერთეული</p>
        <div class="ui-inputgroup" >
          <p-dropdown [ngClass]="{ 'red':if_error(formErrors,'selectedMeasureUnitName')?'1px solid red': '' }" [autoWidth]="true" class="measureUnits" [options]="measureUnits"  placeholder="ერთეული" optionLabel="name" [(ngModel)]="newInventor.selectedMeasureUnitName"  [showClear]="true" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>საქონლის ჯგუფი</p>
        <div class="ui-inputgroup">
          <input type="text" [ngClass]="{ 'red':if_error(formErrors,'itemGroupName')?'1px solid red': '' }" pInputText placeholder="საქონლის ჯგუფი" disabled [(ngModel)]="newInventor.itemGroupName" style="width: 100%" [ngClass]="{ 'red':errors.group?'1px solid red': '' }" >
          <button (click)="itemGroupDialog()" pButton type="button" label="..."></button>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4" >
          <p>დასახელება</p>
          <p-autoComplete   [ngModelOptions]="{standalone: true}"  [(ngModel)]="newInventor.fullname"    [ngClass]="{ 'red':if_error(formErrors,'fullname')?'1px solid red': '' }"  field="name" [size]="30"
                            placeholder="დასახელება" [minLength]="0"  (ngModelChange)="onKeyUp($event)"  (onSelect)="selectedName()" [suggestions]="filteredInventors" (click)="changeLanguage('ge')">
          </p-autoComplete>
        </div>
        <div class="ui-g-4">
          <p>მარკა</p>
          <table>
            <tr>
              <td>
                <p-autoComplete  [(ngModel)]="newInventor.selectedMaker"    [suggestions]="ItemData" [ngClass]="{ 'red':if_error(formErrors,'selectedMaker')?'1px solid red': '' }" field="name" type="marker" [size]="30"
                                placeholder="მარკა" [minLength]="0" (ngModelChange)="onKeyUpMaker($event)"  (click)="changeLanguage('uk')"></p-autoComplete>
              </td>
              <!--td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('marker', newInventor.selectedMaker)"></p-button>
              </td-->
            </tr>
          </table>
        </div>
        <div class="ui-g-4">
          <p>მოდელი</p>
          <table>
            <tr>
              <td>
                <p-autoComplete [(ngModel)]="newInventor.selectedModel" [disabled]="!newInventor.selectedMaker"  [ngClass]="{ 'red':if_error(formErrors,'selectedModel')?'1px solid red': '' }" [suggestions]="ItemData" field="name" [size]="30"
                                placeholder="მოდელი" [minLength]="1"  (ngModelChange)="onKeyUpModel($event)"  (click)="changeLanguage('uk')"></p-autoComplete>
              </td>
              <!--td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('model', newInventor.selectedModel)"></p-button>
              </td-->
            </tr>
          </table>
        </div>
        <div class="ui-g-4">
          <p>{{ newInventor.isCar !==1 ? 'ქარხნული ნომერი': 'სახელმწიფო ნომერი' }}</p>
          <input type="text" pInputText style="width:100%;height: 35px;" [(ngModel)]="newInventor.factoryNumber" [ngClass]="{ 'red':if_error(formErrors,'factoryNumber')?'1px solid red': '' }"/>
        </div>
        <div class="ui-g-4">
          <p>ინვენტარის ტიპი</p>
          <p-dropdown [options]="itemTypes"  [ngClass]="{ 'red':if_error(formErrors,'selectedItemType')?'1px solid red': '' }" placeholder="ტიპი" optionLabel="name" [showClear]="true" [(ngModel)]="newInventor.selectedItemType" ></p-dropdown>
        </div>

        <div class="ui-g-4">
          <p>მიმწოდებელი</p>
          <table>
            <tr>
              <td>
                <p-autoComplete  [ngClass]="{ 'red':if_error(formErrors,'selectedSupplier')?'1px solid red': '' }"  [suggestions]="ItemData"  field="generatedName" [size]="30"
                                 placeholder="მიმწოდებელი" [minLength]="1" [(ngModel)]="newInventor.selectedSupplier" (ngModelChange)="onKeyUpSupplier($event)"  (click)="changeLanguage('ge')"></p-autoComplete>
              </td>
              <td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('supplier', newInventor.selectedSupplier)"></p-button>
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-g-4">
          <p>ინვენტარის სტატუსი</p>
          <p-dropdown [ngClass]="{ 'red':if_error(formErrors,'selectedItemStatus')?'1px solid red': '' }" [options]="itemStatus"  placeholder="სტატუსი" optionLabel="name" [showClear]="true" [(ngModel)]="newInventor.selectedItemStatus"></p-dropdown>
        </div>
        <div class="ui-g-4">
          <p>სასაქონლო ზედნადები</p>
          <input type="text" pInputText style="width:100%;height: 35px;"  [(ngModel)]="newInventor.invoice"   [ngClass]="{ 'red':if_error(formErrors,'invoice')?'1px solid red': '' }" />
        </div>
        <div class="ui-g-4">
          <p>ინსპექტირების დასკვნის ნომერი</p>
          <input type="text" pInputText style="width:100%;height: 35px;" [(ngModel)]="newInventor.inspectionNumber" [ngClass]="{ 'red':if_error(formErrors,'inspectionNumber')?'1px solid red': '' }"/>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4" >
            <p>ერთეულის ფასი</p>
            <p-spinner size="30" step="0.25"   [(ngModel)]="newInventor.price" [ngClass]="{ 'red':if_error(formErrors,'price')?'1px solid red': '' }" ></p-spinner>
          </div>
          <div class="ui-g-4" *ngIf="1===2">
            <p>საბუღალტრო ზედდებული</p>
            <input type="text" pInputText style="width:100%;height: 35px;"   [(ngModel)]="newInventor.invoiceAddon"  [ngClass]="{ 'red':if_error(formErrors,'invoiceAddon')?'1px solid red': '' }" >
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4" >
            <p>სულ ფასი: {{ newInventor.price * newInventor.amount}}</p>
          </div>

        </div>
      </div>
      <div class="ui-g-4">
        <p>შენიშვნა</p>
        <textarea rows="10" cols="30" pInputTextarea style="width: 100%" [(ngModel)]="newInventor.note"  ></textarea>
      </div>
    </div>
  </div >
  <div style="width: 100%;height: 400px;" *ngIf="frustrate">
      <table style="border-collapse: collapse;" class="table generator-table" cellpadding="5">
          <thead>
            <tr>
              <th>თარიღი</th>
              <th>დასახელება</th>
              <th>მარკა</th>
              <th>მოდელი</th>
              <th>ფასი</th>
              <th>რაოდენობა</th>
              <th [width]="200">განზ.ერთ</th>
              <th >{{newInventor.isCar != 1? "შტრიხკოდი":"ვინკოდი"}}</th>
              <th>{{newInventor.isCar != 1? "ქარხ #":"მანქანის ნომერი"}}</th>
              <th>ჯგუფი</th>
              <th>ტიპი</th>
              <th>სტატუსი</th>
              <th>მიმწოდებელი</th>
              <th>ზედნადები</th>
              <th>ზედდებული</th>
              <th>ინსპ#</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of lastBarCodes">
            <td>{{newInventor.entryDate}}</td>
            <td>{{newInventor.name}}</td>
            <td>{{newInventor.selectedMaker.name}}</td>
            <td>{{newInventor.selectedModel.name}}</td>
            <td>{{newInventor.price}}</td>
            <td>{{newInventor.showAmount}}</td>
            <td>{{newInventor.measureUnitName}}</td>
            <td *ngIf="newInventor.isCar != 1">{{c.value}}<input type="text" [(ngModel)]="c.barCodeVisualValue" class="input border-0"></td>
            <td *ngIf="newInventor.isCar === 1">{{newInventor.vin}}</td>
            <td><input type="text" [(ngModel)]="newInventor.factoryNumber" class="input"></td>
            <td>{{newInventor.itemGroupName}}</td>
            <td>{{newInventor.selectedItemType.name}}</td>
            <td>{{newInventor.selectedItemStatus.name}}</td>
            <td>{{newInventor.selectedSupplier.name}}</td>
            <td>{{newInventor.invoice}}</td>
            <td>{{newInventor.invoiceAddon}}</td>
            <td>{{newInventor.inspectionNumber}}</td>
          </tr>
          </tbody>
      </table>
  </div>
  <div class="invred_box" *ngIf="inventorOperation=='multiple'" style="min-height: 400px">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-3" >
        <p>მიღების თარიღი</p>
        <!--p-calendar [(ngModel)]="newInventor.date" dateFormat="dd-mm-yy" [showIcon]="true"  [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"></p-calendar-->
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control"  [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}" placeholder="" [ngClass]="{ 'red':if_error(formErrors,'date')?'1px solid red': '' }"
                     name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>რაოდენობა</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;"  [(ngModel)]="newInventor.amount"  [ngClass]="{ 'red':if_error(formErrors,'amount')?'1px solid red': '' }" [disabled]="disabledFields.indexOf('amount')>-1">
      </div>

      <div class="ui-g-12 ui-md-3" >
        <p>განზომილების ერთეული</p>
        <div class="ui-inputgroup" >
          <p-dropdown [disabled]="disabledFields.indexOf('measureUnit')>-1" [ngClass]="{ 'red':if_error(formErrors,'selectedMeasureUnitName')?'1px solid red': '' }" [autoWidth]="true" class="measureUnits" [options]="measureUnits"  placeholder="ერთეული" optionLabel="name" [(ngModel)]="newInventor.selectedMeasureUnitName"  [showClear]="true" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>საქონლის ჯგუფი</p>
        <div class="ui-inputgroup">
          <input [disabled]="disabledFields.indexOf('itemGroup')>-1" type="text" [ngClass]="{ 'red':if_error(formErrors,'itemGroupName')?'1px solid red': '' }" pInputText placeholder="საქონლის ჯგუფი" disabled [(ngModel)]="newInventor.itemGroupName" style="width: 100%" [ngClass]="{ 'red':errors.group?'1px solid red': '' }" >
          <button (click)="itemGroupDialog()" pButton type="button" label="..."></button>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4" >
          <p>დასახელება</p>
          <p-autoComplete [disabled]="disabledFields.indexOf('name')>-1"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="newInventor.fullname"    [ngClass]="{ 'red':if_error(formErrors,'fullname')?'1px solid red': '' }" [ngClass]="{ 'red':errors.name?'1px solid red': '' }"   field="name" [size]="30"
                            placeholder="დასახელება" [minLength]="0"  (ngModelChange)="onKeyUp($event)"  (onSelect)="selectedName()" [suggestions]="filteredInventors" >
          </p-autoComplete>

        </div>
        <div class="ui-g-4">
          <p>ინვენტარის ტიპი</p>
          <p-dropdown [disabled]="disabledFields.indexOf('itemType')>-1" [options]="itemTypes"  [ngClass]="{ 'red':if_error(formErrors,'selectedItemType')?'1px solid red': '' }" placeholder="ტიპი" optionLabel="name" [showClear]="true" [(ngModel)]="newInventor.selectedItemType" ></p-dropdown>
        </div>
        <div class="ui-g-4">
          <p>მარკა</p>
          <table>
            <tr>
              <td>
                <p-autoComplete [disabled]="disabledFields.indexOf('maker-model')>-1" [suggestions]="ItemData" [ngClass]="{ 'red':if_error(formErrors,'selectedMaker')?'1px solid red': '' }" (completeMethod)="filterItemSingle($event,'marker')" field="name" type="marker" [size]="30"
                                placeholder="მარკა" [minLength]="0" [(ngModel)]="newInventor.selectedMaker"></p-autoComplete>
              </td>
              <td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('marker', newInventor.selectedMaker)"></p-button>
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-g-4">
          <p>მიმწოდებელი</p>
          <table>
            <tr>
              <td>
                <p-autoComplete [disabled]="disabledFields.indexOf('supplier')>-1"  [ngClass]="{ 'red':if_error(formErrors,'selectedSupplier')?'1px solid red': '' }"  [suggestions]="ItemData"  field="generatedName" [size]="30"
                                 placeholder="მიმწოდებელი" [minLength]="1" [(ngModel)]="newInventor.selectedSupplier" (ngModelChange)="onKeyUpSupplier($event)"></p-autoComplete>
              </td>
              <td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('supplier', newInventor.selectedSupplier)"></p-button>
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-g-4">
          <p>ინვენტარის სტატუსი</p>
          <p-dropdown [disabled]="disabledFields.indexOf('itemStatus')>-1" [ngClass]="{ 'red':if_error(formErrors,'selectedItemStatus')?'1px solid red': '' }" [options]="itemStatus"  placeholder="სტატუსი" optionLabel="name" [showClear]="true" [(ngModel)]="newInventor.selectedItemStatus"></p-dropdown>

        </div>
        <div class="ui-g-4">
          <p>მოდელი</p>
          <table>
            <tr>
              <td>
                <p-autoComplete [disabled]="disabledFields.indexOf('maker-model')>-1" [disabled]="!newInventor.selectedMaker"  [ngClass]="{ 'red':if_error(formErrors,'selectedModel')?'1px solid red': '' }" [suggestions]="ItemData" field="name" [size]="30"
                                placeholder="მოდელი" [minLength]="1" [(ngModel)]="newInventor.selectedModel"   (ngModelChange)="onKeyUpModel($event)"></p-autoComplete>
              </td>
              <td>
                <p-button icon="pi pi-plus" (click)="newRecordDialog('model', newInventor.selectedModel)"></p-button>
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <p>სასაქონლო ზედნადები</p>
            <input type="text" pInputText style="width:100%;height: 35px;"  [(ngModel)]="newInventor.invoice"   [ngClass]="{ 'red':if_error(formErrors,'invoice')?'1px solid red': '' }" />
          </div>
          <div class="ui-g-4">
            <p>ინსპექტირების დასკვნის ნომერი</p>
            <input type="text" pInputText style="width:100%;height: 35px;" [(ngModel)]="newInventor.inspectionNumber" [ngClass]="{ 'red':if_error(formErrors,'inspectionNumber')?'1px solid red': '' }"/>
          </div>
          <div class="ui-g-4" >
            <p>ერთეულის ფასი</p>
            <p-spinner [disabled]="disabledFields.indexOf('price')>-1"  size="30" step="0.25"   [(ngModel)]="newInventor.price" [ngClass]="{ 'red':if_error(formErrors,'price')?'1px solid red': '' }" ></p-spinner>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4" >
            <p style=" margin-bottom: 20px;">სულ ფასი: {{ newInventor.price * newInventor.amount}}</p>
            <span style="color: #007ad9; cursor: pointer;">
            <fa-icon [icon]="faCartPlus"  (click)="cartDialog()" size="2x"  ></fa-icon>
              {{this.cartItems.length}}
          </span>
          </div>

        </div>
      </div>
      <div class="ui-g-4">
        <p>შენიშვნა</p>
        <textarea rows="10" cols="30" pInputTextarea style="width: 100%" [(ngModel)]="newInventor.note"  ></textarea>
      </div>
    </div>
  </div>

  <p-footer style="width: 100%">
    <div class="actionButton">
      <div class="buttonBox tf">
        <span>ბოლო შტრიხკოდი: {{newInventor.fullBarCode}}</span>
        <span *ngIf="frustrate" style="margin-left: 30px;">ბოლო კოდი - {{lastCode}}</span>
      </div>
      <div class="buttonBox">
        <button pButton type="button" icon="pi pi-file" label="დოკუმენტები ({{ uploadFiles.length}})" (click)="filesDialog=true"> </button>
      </div>
      <div class="buttonBox">
      </div>
      <div class="buttonBox">
        <button type="button" pButton icon="pi pi-save" *ngIf="frustrate && inventorOperation=='new'" (click)="saveNewInventor()" label="შენახვა" ></button>
        <button type="button" pButton icon="pi pi-save" *ngIf="inventorOperation=='edit' || inventorOperation ==='multiple'" (click)="editNewInventor()" label="დამახსოვრება" ></button>
        <button type="button" pButton icon="pi pi-save" *ngIf="!frustrate && inventorOperation=='new'" (click)="frustrateInventor()" label="ჩაშლა" ></button>
        <button type="button" pButton icon="pi pi-close" *ngIf="frustrate" (click)="frustrate=false" label="დაბრუნება" class="ui-button-secondary"></button>
        <button type="button" pButton icon="pi pi-close" (click)="inventorDialogShow=false" label="დახურვა" class="ui-button-secondary"></button>
      </div>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="დოკუმენტების მიმაგრება" *ngIf="filesDialog" [(visible)]="filesDialog" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="500" [maximizable]="true" [draggable]="true" [baseZIndex]="10000">
  <div style="width: 100%;min-height: 250px;">
      <app-file-uploader (onFiles)="uploadedFiles($event)" [files]="uploadFiles"></app-file-uploader>
  </div>
</p-dialog>

<p-dialog header="ზედნადებით მიღება" [(visible)]="zednadebiDialogShow" [modal]="true" [responsive]="true" [style]="{width: '1200px', minWidth: '200px'}" [minY]="500" [maximizable]="true" [draggable]="true" [baseZIndex]="10000">

  <div class="invred_box" style="min-height: 400px">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-3" >
        <p>ზედნადების ტიპი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>გამყიდველის პირადი ნომერი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>სტატუსები</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>მანქანის ნომერი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>დაწყების თარიღი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>დაწყების თარიღი შუალედის დასასრული</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d20="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d20.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="ui-g-12 ui-md-3" >
        <p>შექმნის თარიღი შუალედის დასაწყისი</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="ui-g-12 ui-md-3" >
        <p>შექმნის თარიღი შუალედის დასასრული</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="ui-g-12 ui-md-3" >
        <p>მძღოლის პირადი ნომერი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>მიტანის თარიღი შუალედის დასაწყისი</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>მიტანის თარიღი შუალედის დასასრული</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>მთლიანი თანხა</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>ზედნადების ნომერი</p>
        <input type="text" pInputText placeholder="" style="width: 100%; height: 33px;" >
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>დახურვის თარიღი შუალედის დასაწყისი</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui-g-12 ui-md-3" >
        <p>დახურვის თარიღი შუალედის დასასრული</p>
        <form class="form-inline">
          <div class="form-group" style="width: 100%">
            <div class="input-group">
              <input class="form-control" placeholder=""  name="dp" [(ngModel)]="newInventor.date" ngbDatepicker #d8="ngbDatepicker" [minDate]="{ year:1990, month: 01, day: 01}" [maxDate]="{ year:2050, month: 01, day: 01}">
              <div class="input-group-append">
                <button pButton class="btn btn-outline-secondary "  type="button" icon="pi pi-calendar" (click)="d8.toggle()" ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p-footer style="width: 100%">
    <div class="actionButton">
      <div class="buttonBox tf">
        <span>ბოლო შტრიხკოდი: {{newInventor.fullBarCode}}</span>
        <span *ngIf="frustrate" style="margin-left: 30px;">ბოლო კოდი - {{lastCode}}</span>
      </div>
      <div class="buttonBox">
        <button pButton type="button" icon="pi pi-file" label="დოკუმენტები ({{ uploadFiles.length}})" (click)="filesDialog=true"> </button>
      </div>
      <div class="buttonBox">
        <app-language (onChange)="onChange($event)"></app-language>
      </div>
      <div class="buttonBox">
        <button type="button" pButton icon="pi pi-save" *ngIf="frustrate && inventorOperation=='new'" (click)="saveNewInventor()" label="შენახვა" ></button>
        <button type="button" pButton icon="pi pi-save" *ngIf="inventorOperation=='edit' || inventorOperation ==='multiple'" (click)="editNewInventor()" label="დამახსოვრება" ></button>
        <button type="button" pButton icon="pi pi-save" *ngIf="!frustrate && inventorOperation=='new'" (click)="frustrateInventor()" label="ჩაშლა" ></button>
        <button type="button" pButton icon="pi pi-close" *ngIf="frustrate" (click)="frustrate=false" label="დაბრუნება" class="ui-button-secondary"></button>
        <button type="button" pButton icon="pi pi-close" (click)="inventorDialogShow=false" label="დახურვა" class="ui-button-secondary"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
